h1 {
    color: #840000;
    text-align: center;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto; /*2 column grid, auto resize for width*/
    grid-gap: 1em;
    padding: 1em;
}