h1 {
    color: #2a382b;
    text-align: center;
}

body {
    background-color: #cff2ec;
}

.banner > img {
    max-height: 100%;
    max-width: 100%;
    height: auto;
    object-fit: cover;
}

/* period (.) means it is a class */
.grid-container {
    display: grid;
    grid-template-columns: auto auto; /*2 column grid, auto resize for width*/
    grid-gap: 1em;
    padding: 1em;
}

/*the div tags that are direct children of the grid-container*/
.grid-container > div {
    background-color: rgba(255, 255, 255, 0.5);
}

.full-width {
    grid-column-start: 1;
    grid-column-end: 3;
}

.main-content {
    grid-row-start: 2;
    grid-row-end: 4;
}

.navbar {
    overflow: hidden;
    background-color: #ffffff;
}

/* logo */
.navbar > img {
    float: left;
    text-align: center;
    padding: 0.5em 0.5em;
}

.navbar > a {
    float: left;
    font-size: 1em;
    color: #1a1a1a;
    text-align: center;
    padding: 1.8em 1em;
    text-decoration: none;
}

.navbar > a:hover {
    background-color: #bebebe;
}